* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

.headerContainer {
    width: 100%;
        #headerImg {
            width: 100%;
            // margin-top: -10%;
        }
        #logo1 {
            width: 8%;
            border-radius: 50%;
            border: 5px solid white;
            position: relative;
            left: 12%;
            margin-top: -4%;
        }
}

.searchColum